.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 200px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
}
.leftAlignedText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  width: 100%;
}
.flagCode {
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  color: blueviolet;
}
.highlightedCode {
  padding: 1rem;
  font-family: monospace;
  border-radius: 0.22rem;
  color: white;
  background-color: black;
}
.projectHeading {
  margin: 2rem;
}
.projectSubtitle {
  text-align: left;
  margin: 1rem;
  width: 100%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.2rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  /* background-color: rgba(var(--callout-rgb), 0.5); */
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.intro {
  font-family: var(--font-mono);
  font-weight: 900;
  font-size: 2.4rem;
}
.code {
  font-weight: 700;
  font-size: 1.3rem;
  font-family: var(--font-mono);
}
.footer {
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}

.grid {
  margin: 1rem;
  display: flex;
}
.accordion {
  width: 60%;
  border: 1px;
  border-radius: "full";
  /* box-sizing: border-box; */
}
.long {
  font-size: 0.85rem;
  width: 60%;
}
.requestButton {
  position: fixed;
  width: 60%;
}
.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
.button {
  padding: 1rem 1.2rem;
}
.grid {
  height: 3rem;
  display: flex;
  justify-content: center;
}

.active {
  background-color: teal;
  color: white;
  border-radius: 0.375rem; /* This is 6px in rems */
}

.card,
.button span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
  border-radius: 0%;
  transform: scaleX(-1);
}
